.addDestination {
  color:#484848;
  font-size: 1.3em;
  line-height: 29px;
}

form.destinationForm{
  margin-top: 30px;
}

input.destLocation {
  width: 256px;
  height: 36px;
  background-color: #FFFFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
  text-indent: 10px;
  margin-bottom: 0px;
}

input.destDuration {
  width: 256px;
  height: 36px;
  background-color: #FFFFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
 	text-indent: 10px;
 	margin-top: -100px;
}

input.destTotal {
  width: 256px;
  height: 36px;
  background-color: #FFFFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
  text-indent: 10px;
  margin-top: -100px;
}

input.destCountry {
  width: 256px;
  height: 36px;
  background-color: #FFFFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
  text-indent: 10px;
  margin-top: -100px;
}

.shareDest {
  background-color: #00A799;
  border-radius: 4px;
  border: none;
  width: 89px;
  height: 41px;
  color: white;
  font-size: .8em;
  margin-left: 195px;
  margin-top: 20px;
}


.destLocation {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
  margin-bottom: 0px;
}

.destClock {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.destExpense {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.destCountryInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.iconLocation {
	background-image: url('../ui/Icon_Location.svg');
	height: 16px;
	width: 13px;
	background-repeat: none;
}

.iconClock {
	background-image: url('../ui/Icon_Clock.svg');
	height: 16px;
	width: 16px;
	background-repeat: none;
}

.iconExpense {
	background-image: url('../ui/Icon_Expense_US.svg');
	height: 16px;
	width: 16px;
	background-repeat: none;
}

.iconCountry {
  background-image: url('../ui/Icon_City.svg');
  height: 23px;
  width: 19px;
  background-repeat: none;
  margin-right: 11px;
}

/*	background-image: url('../ui/earth-globe.svg');
	height: 20px;
	width: 31px;
	background-repeat: none;
}
*/
