body, html {
	margin: 0;
	padding: 0;
	font-family: 'Chivo', sans-serif;
	font-size: 18px;
	color: #58585B;
}

.backButton {
	background-image: url('../ui/UI_Arrow-left.svg');
	background-repeat: none;
	display: inline-block;
  height: 12px;
  width: 8px;
  margin: 10px;
  vertical-align: top;
  margin-top: -30px;
  cursor: pointer;
}


/*---------Add Destination/Spot Button--------*/

.addDest {
	background-image: url('../ui/Add_Button.svg');
	background-repeat: none;
	display: inline-block;
  height: 46.2px;
  width: 40px;
  margin-left: 80%;
  cursor: pointer;
}


/*---------/Add Destination/Spot Button--------*/


/*---------Category Icons--------*/
.iconFood {
	background-image: url('../ui/Icon_Food.svg');
	height: 24px;
	width: 24px;
	display: inline-block;
	background-repeat: none;
}

.iconFun {
	background-image: url('../ui/Icon_Fun.svg');
	height: 24px;
	width: 24px;
	display: inline-block;
	background-repeat: none;
}

.iconLodging {
	background-image: url('../ui/Icon_Lodging.svg');
	height: 24px;
	width: 24px;
	display: inline-block;
	background-repeat: none;
}
/*---------/Category Icons--------*/




/*---------Itinerary Row--------*/

hr.lineBreak {
	border-top: 1px solid #E5E6E7;
	width: 90%;
}

.spotName {
	font-weight: bold;
}

.wanderSpotContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-right: 15px;
	padding-left: 15px;
}

.wanderRight {
	display: flex;
	flex-direction: column;
	width: 60%;
	align-items: left;
}

.spotCategoryTotal {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.spotIcon {
	padding-right: 5px;
}

.spotTotal {
	padding-left: 5px
}

.spotPicContainer {
	width: 144px;
	height: 144px;
	display: flex;
	align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.spotPic{
	width: 100%;
}

.spotDesc {
	font-size: .7em;
}

.return_spot {
	height: 48vh;
	overflow-y: scroll;
}

/*---------/Itinerary Row--------*/
