body, html {
	margin: 0;
	padding: 0;
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
	color: #58585B;
}

hr.lineBreak {
	border-top: 1px solid #58585B;
}

/*---------Category Icons--------*/
.iconFood {
	background-image: url('../ui/Icon_Food.svg');
	height: 24px;
	width: 24px;
	display: inline-block;
	background-repeat: none;
}

.iconFun {
	background-image: url('../ui/Icon_Fun.svg');
	height: 24px;
	width: 24px;
	display: inline-block;
	background-repeat: none;
}

.iconLodging {
	background-image: url('../ui/Icon_Lodging.svg');
	height: 24px;
	width: 24px;
	display: inline-block;
	background-repeat: none;
}
/*---------/Category Icons--------*/




/*---------Itinerary Row--------*/

.wanderSpotContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.wanderLeft {
	display: flex;
	flex-direction: column;
	width: 60%;
	align-items: left;
}

.spotCategoryTotal {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.spotIcon {
	padding-right: 5px;
}

.spotTotal {
	padding-left: 5px
}

.spotPicContainer {
	width: 144px;
	height: 144px;
	display: flex;
	align-items: center;
  justify-content: center;
}

.spotPic{
	width: 100%;
}

.spotDesc {
	font-size: 0.75em;
}


.return_spot {
	height: 48vh;
	overflow-y: scroll;
}

/*---------/Itinerary Row--------*/
