body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}


/*---------Itinerary Container--------*/

.itineraryContainer {
	width: 500px;
	float: right;
	display: flex;
	background-color: rgba(66, 244, 229, 0.5);
	flex-direction: column;
	padding: 10px;
}
/*---------/Itinerary Container--------*/




/*---------Itinerary--------*/

.wanderRowContainer {
	display: flex;
	background-color: rgba(255,255,255, 0.7);
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px;
}

.wanderPicContainer {
	width: 200px;
	height: 200px;
}

.wanderPic{
	width: 100%;
}
/*---------/Itinerary--------*/