.landingpage {
	background-image: url('../ui/Landscape.png');
	background-size: cover;
	height: 92vh;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: -1px;
	background-repeat: no-repeat;
}

#login-popup {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	align-self: flex-end;	
}

/*width: auto;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	float: right;
	margin-top: 1%;
	margin-left: 60%;
	padding: 20px;
	display: none;

	 IN YOUR LOGIN POP FUNCTION, YOURE GOING TO HAVE TO SAY
	DOCUMENT.GET ELEMENT BY ID (#LOGINPOP) AND WRITE IT'S CSS
	AS 'display: initial' or 'display: inherit'

	DOM MANIPULATION ASK LEV FOR SYNTAX
	*/


.logo-land{
	background-image: url('../ui/Wanderly-Logo.svg');
	width: 400px;
	height: 62.86px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-bottom: 40px;
}

#join{
	background-color: #00A799;
	border-radius: 4px;
	width:256px;
	height:36px;
	font-family: Chivo;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	border: 0;
	text-decoration: none;
	margin-bottom: 15px;
}

.box-div {
	display: flex;
	justify-content: center;
} 

#btn-signin {
	background-color: black;
	border: 0;
}
/*#btn-signin:focus {
	outline: none;
}
*/
.p {
/*	width: 170px;
height: 20px;*/
font-family: Chivo;
font-size: 10px;
line-height: 20px;
color: #58585B;
}

.signup-link {
/*width: 48px;
height: 17px*/;
font-family: Chivo;
font-size: 14px;
font-weight: bold;
line-height: 17px;
color: #00A799;
}