.landingpage {
	background-image: url('../ui/Landscape.png');
	background-size: cover;
	height: 92vh;
	background-position: center center;
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;*/
	flex-direction: column;
	margin-bottom: -1px;
	background-repeat: no-repeat;
}

.landingpage-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 32vh;
	margin-left: 60vh;
	position: fixed;
}

#login-popup {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	align-self: flex-end;
}


.logo-land{
	background-image: url('../ui/Wanderly-Logo.svg');
	width: 400px;
	height: 62.86px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-bottom: 40px;
}

#join {
	background-color: #00A799;
	border-radius: 4px;
	width:256px;
	height:36px;
	font-family: Chivo;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	border: 0;
	text-decoration: none;
	margin-bottom: 15px;
}

#join:focus {
	outline: none;
}


.box-div {
	display: flex;
	justify-content: center;
} 

#btn-signin {
	background-color: black;
	border: 0;
}
#btn-signin:focus {
	outline: none;
}

#p {
	/*	width: 170px;
	height: 20px;*/
	font-family: Chivo;
	font-size: 14px;
	line-height: 20px;
	color: #58585B;
	margin-top:5px; 
	align-self: center;
}

a.signup-link {
	/*width: 48px;
	height: 17px*/;
	font-family: Chivo;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	color: #00A799;
	text-decoration: none;
}

a.signup-link:focus {
	outline: none;
}