#master_itinerary {
	height: 70vh;
	overflow-y: scroll;
}

.profileContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*---------Profile Left Container--------*/
.profileLeft {
	width: 33%;
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.profilePhotoContainer {
	/*height: 200px;*/
}

.profilePhoto {
	/*height: 100%;*/
	justify-content: center;
	width: 200px;
	border-radius: 80px;
}

.profileInfo {
	display: flex;
	flex-direction: row;
}

.profileBio {
	width: 70%;
}

.destList {
		height: 60vh;
		overflow-y: scroll;
}
/*---------/Profile Left Container--------*/




/*---------Profile Right Container--------*/
.profileRight {
	width: 67%;
	align-items: right;
}

.profileMap {
	justify-content: right;
}

/*---------/Profile Right Container--------*/
