body, html {
  margin: 0;
  padding: 0;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  color: #58585B;
}

/*---------Modal--------*/
#modal-outer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#modal-middle {
  height: 100vh;
  width: 100vw;
  background-color: rgba(192,192,192,0.7);
  /*background: grey;*/
  /*opacity: 0.8;*/
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-inner {
  position: absolute;
  background: white;
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
}

#modal-text {
  height: 150px;
  width: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*---------/Modal--------*/

/*---------Modal Button--------*/

.closeModal {
  align-self: flex-end;
  /*margin-left: 140px;*/
  position: absolute;
}

#close {
  background-image: url('../ui/Button_Close.svg');
  display: inline-block;
  background-repeat: none;
  height: 16px;
  width: 16px;
  margin-top: 20px;
  margin-right: 20px;
}
/*---------/Modal Button--------*/


/*---------Modal Form--------*/

.addNew {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.addSpotButton {
  background-color: #00A799;
  height: 41px;
  width: 89px;
  border: none;
  color: white;
}

/*---------/Modal Form--------*/

