body, html {
  margin: 0;
  padding: 0;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  color: #58585B;
}

/*---------Modal--------*/
#modal-outer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#modal-middle {
  height: 100vh;
  width: 100vw;
  background-color: rgba(192,192,192,0.7);
  /*background: grey;*/
  /*opacity: 0.8;*/
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-inner {
  position: absolute;
  background: white;
  height: 500px;
  width: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
}

#close {
  align-self: flex-end;
  /*margin-left: 140px;*/
  position: absolute;
}

#modal-text {
  height: 150px;
  width: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*div.addDestinationContainer{
  display: flex;
  justify-content: center;
}
*/

h1.addDestination{
  color:#484848;
  font-size: 24px;
  line-height: 29px;
  margin-top:-45px;
  margin-left: -30px;

}

form.destinationForm{
  margin-top:25px;
}

input[type="text"]{
  color:#A5A5A5;
  font-size: 14px;
}

input.location{
  width:256px;
  height:36px;
  background-color: #FFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
}
input.duration{
  width:256px;
  height:36px;
  background-color: #FFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
}
input.country{
  width:256px;
  height:36px;
  background-color: #FFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
}
input.total{
  width:256px;
  height:36px;
  background-color: #FFFF;
  border: 1px solid #D0D2D3;
  border-radius: 2px;
}

button.btn.btn-default.destination{
  background-color: #00A799;
  border-radius: 4px;
  width: 89px;
  height:41px;
  color:white;
}

/*---------/Modal--------*/

/*---------Modal Button--------*/

.closeModal {
  align-self: flex-end;
  /*margin-left: 140px;*/
  position: absolute;
}

#close {
  background-image: url('../ui/Button_Close.svg');
  display: inline-block;
  background-repeat: none;
  height: 16px;
  width: 16px;
  margin-top: 20px;
  margin-right: 20px;
}
/*---------/Modal Button--------*/


/*---------Modal Form--------*/

.addNew {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.addSpotButton {
  background-color: #00A799;
  height: 41px;
  width: 89px;
  border: none;
  color: white;
}

/*---------/Modal Form--------*/
