body,html{
  font-family: 'Chivo', sans-serif;
}

.returnSpot {
	height: 44vh;
	overflow-y: scroll;
}

.profileContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
}

/*---------Profile Left Container--------*/
.profileLeft {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-left: 0;
}

.profilePhotoContainer {
	/*height: 200px;*/
}

.profilePhoto {
	/*height: 100%;*/
	justify-content: center;
	width: 200px;
	border-radius: 80px;
}

.profileInfo {
	display: flex;
	flex-direction: row;
	height: 40vh;
}

.profileBio {
	width: 70%;
}

.destList {
	height: 52vh;
	margin: 0;
	align-self: flex-end;
  	background-color: rgba(244, 137, 66, 0.5);
  	width: 100%;
}
/*---------/Profile Left Container--------*/


/*---------Profile Right Container--------*/
.profileRight {
	width: 60%;
	align-items: right;
	margin: 0;
}

.profileMap {
	justify-content: right;
}

/*---------/Profile Right Container--------*/



/*-------- User Bio Container ----------*/

h2.userName{
	font-size: 24px;
	line-height: 29px;
	color:#484848;
	
}
p.userBio{
	font-size: 14px;
	line-height: 20px;
	color:#58585B;
}
p.userCountry{
	font-size: 14px;
	line-height: 20px;
	color:#58585B;
}

a#edit{
	color:#00A799;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	margin-left: 0px;
	margin-top: 5px;
}