body,html{
  font-family: 'Chivo', sans-serif;
}

.returnSpot {
	height: 44vh;
	overflow-y: scroll;
}

.profileContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
}

/*---------Profile Left Container--------*/
.profileLeft {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-left: 0;
}

.profilePhotoContainer {
	padding-right: 15px;
}

.profilePhoto {
  justify-content: center;
  width: 200px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.profileInfo {
	display: flex;
	flex-direction: row;
	height: 34vh;
}

.profileBio {
	width: 70%;
	padding-left: 15px;
}

.destList {
	height: 58vh;
	margin: 0;
	align-self: flex-end;
  width: 100%;
}
/*---------/Profile Left Container--------*/


/*---------Profile Right Container--------*/
.profileRight {
	width: 60%;
	align-items: right;
	margin: 0;
}

.profileMap {
	justify-content: right;
}

/*---------/Profile Right Container--------*/



/*-------- User Bio Container ----------*/

h2.userName{
	font-size: 24px;
	line-height: 29px;
	color:#484848;
}

p.userBio{
	font-size: 14px;
	line-height: 20px;
	color:#58585B;
}

p.userCountry{
	font-size: 14px;
	line-height: 20px;
	color:#58585B;
}

a#edit{
	color:#00A799;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	/*margin-left: -170px;*/
	/*margin-top: 30px;*/
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
