body,html{
  font-family: 'Chivo', sans-serif;
}

div.introContainer{
	display: flex;
	justify-content: center;
	margin-top: 150px;
	margin-left: -15px;
}

h1.bioTitle{
	font-weight: bold;
	color: #484848;
	font-size: 32px;
	line-height: 38px;
}

p.aboutYou{
	color: #58585B;
	font-size: 18px;
	line-height: 22px;
}

input.firstName{
	width: 256px;
	height: 36px;
	background-color: #FFFFFF;
	border: 1px solid #D0D2D3;
	border-radius: 2px;
	margin-top: 25px;
	margin-left: 11px;
	padding-left: 5%;
	display:flex;
	flex-wrap: wrap;
}
input.lastName{
	width: 256px;
	height: 36px;
	background-color: #FFFFFF;
	border: 1px solid #D0D2D3;
	border-radius: 2px;
	margin-top: 25px;
	margin-left: 11px;
	padding-left: 5%;
}
button.btn.btn-default.dropdown-toggle{
	width: 256px;
	height: 36px;
	background-color: #FFFFFF;
	border: 1px solid #D0D2D3;
	border-radius: 2px;
	margin-left: 11px;
	padding-right: 50%;
	color: #9E9E9E;
	margin-top: 15px;
	cursor: pointer;
}
div.btn-group{
	margin-left: -308px;
	position:relative;
	display: inline-block;
}

*{
	box-sizing: border-box;
}
/*ul.dropdown-menu.scrollable-menu > li{
	display: inline-block;
}
*/
ul.dropdown-menu{
	position: absolute;
	font-size: 14px;
	background-color: white;
	box-shadow: 0 6px 12px rbga(0,0,0, .175);
	background-clip: padding-box;
}
ul{
	margin-top: 0px;
	margin-left: 10px;
}

/*.btn-group:hover ul{
	display: block;
}*/
.btn .caret {
	margin-top: 8px;
	margin-left: 125px;
}

span.caret{
	margin-top: 2px;
	color: #00A799;
	position: absolute;
}

button.btn.btn-default.continue{
	width: 256px;
	height: 41px;
	background-color: #00A799;
	border-radius: 4px;
	text-align: center;
	color: white;
	margin-left: 11px;
	margin-top: 25px;
	padding-right:9%;
}

a#skippie{
	margin-left: 100px;
	display:flex;
	margin-top:25px;
	font-weight: bold;
	color: #00A799;
	font-size: 14px;
	line-height: 17px;
}


/*ul.dropdown-content a{
	text-decoration: none;
	display: block;
	color: #00A799;
}*/
/*
div.dropdown-content a:hover{
	background-color: #00A799;
	color:white;
}

div.dropdown:hover div.dropdown-content{
	display: block;
}*/

