body,html{
  font-family: 'Chivo', sans-serif;
}

div.uploadContainer{
  display: flex;
  justify-content: center;
  margin-top:150px;
  margin-left: -15px;
}


h1.title{
  font-weight: bold;
  color:#484848;
  font-size: 32px;
}

p#subtitle{
  font-size: 18px;
  color:#58585B;
  margin-top: 40px;
}
input#file {
  display: inline-block;
  width: 100px;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('http://i61.photobucket.com/albums/h58/tionnaw95/default_zpsjmlmomqn.png') center center no-repeat ;
  border-radius: 20px;
  background-size: cover;
  margin-left: 15px;
}

input.btn.btn-default{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  align-content: space-between;
  width:276px;
  margin-left: 30px;
  text-align: center;
  color:white;
  height:41px;
  background-color: #00A799;
  border-radius: 4px;
  padding-left: 28%;

}
a{
  display: flex;
  text-decoration: none;
  font-weight:bold;
  color:#00A799;
  font-size: 14px;
  line-height: 17px;
  margin-left: 123px;
  align-content: space-between;
  margin-top: 20px;
}


