body,html{
  font-family: 'Chivo', sans-serif;
}

div.introContainer{
	display: flex;
	justify-content: center;
	margin-top: 150px;
	margin-left: -15px;
}

h1.bioTitle{
	font-weight: bold;
	color:#484848;
	font-size: 32px;
	line-height: 38px;
}
p.aboutYou{
	color: #58585B;
	font-size: 18px;
	line-height: 22px;
}

input.name{
	width:256px;
	height:36px;
	background-color: #FFFF;
	border: 1px solid #D0D2D3;
	border-radius: 2px;
	margin-top: 25px;
	margin-left: 11px;
	padding-left: 5%;
}

button.btn.btn-default.dropdown-toggle{
	width:256px;
	height:36px;
	background-color: #FFFF;
	border:1px solid #D0D2D3;
	border-radius:2px;
	margin-left:11px;
	padding-right: 47%;
	color: #9e9e9e;
	margin-top:15px;
	cursor: pointer;
}
.btn .caret {
	margin-top:8px;
	margin-left:125px;
}

span.caret{
	margin-top:2px;
	color:#00A799;
	position: absolute;
}
button.btn.btn-default.continue{
	width: 256px;
	height: 41px;
	background-color: #00A799;
	border-radius: 4px;
	text-align: center;
	color:white;
	margin-left:11px;
	margin-top:25px;
}

a#skippie{
	margin-left: 100px;
}

div.dropdown{
	position: relative;
	display:in line-blocks;
}

div.dropdown-content{
	display:none;
	/*position: absolute;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 160px;
	z-index: 1;
}

div.dropdown-content a{
	text-decoration: none;
	display: block;
	color: #00A799;

}

div.dropdown-content a:hover{
	background-color: #00A799;
	color:white;
}

div.dropdown:hover div.dropdown-content{
	display:block;
}

