body,html{
  font-family: 'Chivo', sans-serif;
}

div.bioContainer{
	display: flex;
	justify-content: center;
	margin-top: 150px;
	margin-left: -15px;
}

div.welcome{
	margin-top: -20px;
}

div.bioQuestions{
  margin-top: 45px;
}

div.bioButtons{
	width: 480px;
	display: flex;
	flex-wrap: wrap ;
	margin-left:65px;
	margin-top:35px;
}

h1.bioTitle{
	font-weight: bold;
	color: #484848;
	size: 32px;
}

p#aboutMe{
	color: #58585B;
	line-height: 22px;
	font-size: 18px;
}

p#questions{
	font-weight: bold;
	color: #58585B;
	size: 14px;
	margin-left: -213px;
}


#btnOne:focus{background-color: #00A799; color: white; outline: none;}
#btnTwo:focus{background-color: #00A799; color: white; outline: none;}
#btnThree:focus {background-color: #00A799; color: white; outline: none;}
#btnFour:focus {background-color: #00A799; color: white; outline: none;}
#btnFive:focus {background-color: #00A799; color: white; outline: none;}
#btnSix:focus {background-color: #00A799; color: white; outline: none;}

button.btn.btn-default.one{
	background-color: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #00A799;
	width: 93px;
	height: 35px;
  	font-size: 14px;
  	line-height: 17px;
  	color: #00A799;

}

button.btn.btn-default.two{
	background-color: #FFFFFF;
	border-radius: 100px;
	border : 1px solid #00A799;
	width: 110px;
	height: 35px;
	font-size: 14px;
	line-height: 17px;
	color: #00A799;
	margin-left: 10px;
}

button.btn.btn-default.three{
	background-color: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #00A799;
	width: 93px;
	height: 35px;
	font-size: 14px;
	line-height: 17px;
	color: #00A799;
	margin-left: 10px;
}

button.btn.btn-default.four{
	background-color: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #00A799;
	width: 108px;
	height: 35px;
	font-size: 14px;
	line-height: 17px;
	color: #00A799;
	margin-left: 10px;

}

button.btn.btn-default.five{
	background-color: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #00A799;
	width: 93px;
	height: 35px;
	font-size: 14px;
	line-height: 17px;
	color: #00A799;
	margin-top: 8px;
}

button.btn.btn-default.six{
	background-color: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #00A799;
	width: 120px;
	height: 35px;
	font-family: 'Chivo', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #00A799;
	margin-top: 8px;
	margin-left: 10px;

}


p.questions{
	font-weight: bold;
	color: #58585B;
	size: 14px;
	margin-left: -270px;
	margin-top: 45px;
}

input.intro{
	width: 432px;
	height: 88px;
	border: 1px solid #D0D2D3;
	border-radius: 4px;
	padding: 0 0 45px 10px;
}


button.btn.btn-default.done{
	width: 256px;
	height: 41px;
	background-color: #00A799;
	border-radius: 4px;
	text-align: center;
	color: white;
	margin-top: 35px;
	margin-left: 20px;
}

a#skip{
	font-weight: bold;
	color: #00A799;
	font-size: 14px;
	line-height: 17px;
	margin-left: 10px;
	margin-top:25px;

}

.bioIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}