body,html{
  font-family: 'Chivo', sans-serif;
}

div.destList{
	margin-top:10%;
}

hr{
	margin-top: 37px;
}

h2.userName{
	color:#484848;
	font-size: 24px;
	line-height: 29px;
}
p.userGender{
	color:#58585B;
	font-size: 12px;
	line-height: 20px;
}
p.userCountry{
	color:#58585B;
	font-size: 12px;
	line-height: 20px;
}
p.userInfro{
	color:#58585B;
	font-size: 12px;
	line-height: 20px;
}

a#editProfile{
	color:#00A799;
	font-weight: bold;
	font-size: 12px;
	line-height: 17px;
	margin-left: 5px;
	margin-top: 5px;
}