.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-repeat: none;
}

.logo {
	background-image: url('../ui/Wanderly-Logo.svg');
	height: 20vh;
	width: 100vh;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.box {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 256px;
	height: auto;
}

.heading {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center
} 

.title {
	font-size: 24px;
	font-family: Chivo;
	color: #484848;
}

fieldset {
	border-color: transparent;
}

.form-group {
	width: 100%;
	height: 20%;
}

.txt {
	border: 1px solid #D0D2D3;
  border-radius: 2px;
  font-family: Chivo;
	font-size: 14px;
	color: #A5A5A5;
	width: 256px;
	height: 36px;
}

.sub {
	background-color: #00A799;
	border-radius: 4px;
	width: 256px;
	height: 36px;
	font-family: Chivo;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	border: 0;
}

@media only screen and (max-width: 600px) {

	.logo {
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 60vh;
		height: 30vh;
		background-attachment: cover;
		background-position: center center;
	}

}
